* {
    margin: 0;
    padding:  0;
}

body{
    background-color: bisque;
    font-family: "Helvetica", "Arial";
}

.accord{
    width: 805px;
    margin: auto;
    height: 320px;
    overflow: hidden;
    margin-top: 100px;
}

.accord li{
    width: 160px;
    display: block;
    position: relative;
    float: left;
    border-left: 1px solid  bisque;
    transition: all 0.5s;
}

.image-title{
    background: rgba(194, 177, 157, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 640px;
}

.image-title a{
    display: block;
    color: #fff;
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
}

.accord ul:hover li{
    width: 40px;
}

.accord ul li:hover{
    width: 640px;
}

/* Social Media */
.social_media{
    padding: 200px 0 30px 0;

    text-align: center;
}

.social_media a{
    background: #d2d7d3;
    color: #222;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: relative;
    width: 40px;
    height: 28px;
    margin: 0 20px;
    padding-top: 12px;
    -webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.social_media a.icon:before{
    font-family: "FontAwesome", sans-serif;
	color: #fff;
	font-size: 20px;
}

.social_media a.facebook:before{
    content:  '\f09a';
}

.social_media a.twitter:before{
	content: '\f099';
}

.social_media a.github:before{
	content: '\f113';
}

.social_media a.dribble:before{
    content: '\f17d';
}

.social_media a.pinterest:before{
    content: '\f0d2';
}

.social_media a span{
    background: #fff;
    color: #222;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px 7px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s;
	transition: all .4s;
}

.social_media a span:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	position: absolute;
	bottom: -5px;
	left: 40px;
}

.social_media a:hover span{
    bottom: 50px;
	visibility: visible;
	opacity: 1;
}

.social_media a.facebook:hover{
    background-color: #4183d7;
    color: #bfbfbf;
} 

.social_media a.facebook span{
    color: #4183d7;
}

.social_media a.twitter:hover{
	background-color: #19b5fe;
	color: #fff;
}

.social_media a.twitter span{
	color: #19b5fe;
}

.social_media a.github:hover{
	background-color: #000;
	color: #fff;
}

.social_media a.github span{
	color: #000;
}

.social_media a.dribble:hover{
	background-color: #f62459;
	color: #fff;
}

.social_media a.dribble span{
	color: #f62459;
}
.social_media a.pinterest:hover{
	background-color: #f22613;
	color: #fff;
}

.social_media a.pinterest span{
    color: #f22613;
}




